# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{ cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{ es_IP }}

# Node Roles
node.roles:
{% if es_node_roles is defined %}
  {{ es_node_roles | to_json }}
{% elif 'esm' in group_names %}
  [ master, data_content, data_hot ]
{% elif 'esd' in group_names %}
  [ data_content, data_hot ]
{% elif 'esc' in group_names %}
  []
{% else %}
  [ master, data_content, data_hot, ingest ]
{% endif %}

#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ data_path }}
#
# Path to log files:
#
path.logs: {{ log_path }}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
bootstrap.memory_lock: {{ m_lock }}
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: {{ es_IP }}
#
# Set a custom port for HTTP:
#
http.port: {{ http_port }}
#
# --------------------------------- Discovery ----------------------------------
#
{% if standalone | bool %}
# Standalone mode
discovery.type: single-node
{% else %}
# Cluster mode
# Pass an initial list of hosts to perform discovery when new node is started:
#
discovery.seed_hosts: {{ zen_host }}
#
# Bootstrap the cluster using an initial set of master-eligible nodes:
#
cluster.initial_master_nodes:
{% set seed_hosts = groups[es_seed_hosts_group] | default(ansible_play_batch) %}
{% for host in seed_hosts %}
- {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% endif %}

#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
action.destructive_requires_name: true

# ---------------------------------- Security ----------------------------------
#
xpack.security.enabled: {{ es_security_enabled | lower }}
xpack.security.enrollment.enabled: {{ es_enrollment_enabled | lower }}

# HTTP SSL
xpack.security.http.ssl.enabled: {{ es_http_ssl_enabled | lower }}
{% if es_http_ssl_enabled | bool %}
xpack.security.http.ssl.key: /etc/elasticsearch/certs/{{ key_name }}
xpack.security.http.ssl.certificate: /etc/elasticsearch/certs/{{ certificate_name }}
xpack.security.http.ssl.certificate_authorities: [ "/etc/elasticsearch/certs/{{ certificate_authorities_name }}" ]
{% endif %}

# Transport SSL
xpack.security.transport.ssl.enabled: {{ tls_enable | lower }}
xpack.security.transport.ssl.verification_mode: {{ es_transport_ssl_verification_mode }}
xpack.security.transport.ssl.key: /etc/elasticsearch/certs/{{ key_name }}
xpack.security.transport.ssl.certificate: /etc/elasticsearch/certs/{{ certificate_name }}
xpack.security.transport.ssl.certificate_authorities: [ "/etc/elasticsearch/certs/{{ certificate_authorities_name }}" ]
